$ExtraLarge: " screen and (min-width: 1281px)";
$Large: "screen and (min-width: 1025px)";
$Medium: "screen and (min-width: 769px)";
$Small: "screen and (min-width: 768px)";
$LowResLandscape: "screen and (min-width: 481px)";
$Smartphone: "screen and (min-width: 320px)";
