@import "../static/_vars.scss";
/*
// (min-width: 1281px)
@media #{$ExtraLarge} {
}
// (min-width: 1025px) and (max-width: 1280px)
@media #{$Large} {
}
//(min-width: 768px) and (max-width: 1024px)
@media #{$Medium} {
}
// (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
@media #{$Small} {
}
// (min-width: 481px) and (max-width: 767px)
@media #{$LowResLandscape} {
}
// (min-width: 320px) and (max-width: 480px)
@media #{$Smartphone} {
}

*/

.header {
  //background-color: beige;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  @media #{$Medium} {
    flex-direction: row;
    align-items: flex-end;
  }

  .logo {
    height: 50px;
    :hover {
      cursor: pointer;
    }

    @media #{$Medium} {
      height: 100px;
    }
  }
  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    //
    @media #{$Medium} {
      flex-direction: row;
      width: auto;
    }

    .link {
      font-family: "Brandon Grotesque Regular";
      padding: 5px;
      margin: 5px;
      text-decoration: none;
      color: #3c4146;
      //background-image: linear-gradient(to right, #7e0000 50%, #3c4146 50%);
      border-bottom: 2px solid white;
      background-position: -100%;
      background-size: 200%;
      transition: all 0.4s;

      &:hover {
        border-bottom: 2px solid #3c4146;
        background-position: 100%;
      }
    }
  }
}
