@import "../static/_vars.scss";
/*
// (min-width: 1281px)
@media #{$ExtraLarge} {
}
// (min-width: 1025px) and (max-width: 1280px)
@media #{$Large} {
}
//(min-width: 768px) and (max-width: 1024px)
@media #{$Medium} {
}
// (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
@media #{$Small} {
}
// (min-width: 481px) and (max-width: 767px)
@media #{$LowResLandscape} {
}
// (min-width: 320px) and (max-width: 480px)
@media #{$Smartphone} {
}

*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Brandon Grotesque Regular";
}

.semicont {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
